/* Fonts */
:root {
  --font-default: "Roboto";
  --font-primary: "Roboto";
  --font-secondary: "Open Sans";
}

/* Colors */
:root {
  --color-default: #212529;
  --color-primary: #ce1212;
  --color-secondary: #37373f;
  --color-nav-one: #C4212D;
  --color-nav-two: #EBEBEB;
  --color-nav-three: #450C10;
  --color-nav-three-focus: #85171E;
  --color-nav-three-content: #FFFFFF;
  --color-white: #FFFFFF;
  --color-white-secondary: #EBEBEB;
  --color-footer-head:#C4212D;
  --color-heading:#85171E;
  --color-heading-secondary:#450C10;
  --color-para:#000000;
  --color-table-head:#85171E;
  --color-table-head-text:#FFFFFF;
  --color-table-body:#EBEBEB;
  --color-table-body-text:#000000;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #ec2727;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-default);
}


h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(---bf3604);
  text-align: left;
  font: normal normal bold 40px/46px Roboto;
  letter-spacing: 0px;
  color: #bf3604;
}
h3 {
  text-align: center;
  font: normal normal 800 35px/48px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

h4 {
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal 800 35px/48px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}


.heading-two {
  font-family: var(--font-default);
  font-size: 40px;
  color: var(--color-heading);
  text-align: center;
}

.para{
  font-family: var(--font-default);
  font-size: 16px;
  color: var(--color-para);
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

.section-bg {
  background-color:var(--color-white);
}

.section-header {
  text-align: center;
  padding-bottom: 30px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #7f7f90;
  text-transform: uppercase;
  font-family: var(--font-default);
}

.section-header p {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  font-family: var(--font-primary);
}

.section-header p span {
  color: var(--color-primary);
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header-one {
  background: var(--color-nav-one);
  transition: all 0.5s;
  z-index: 997;
  height: 40px;
  color: var(--color-white);
  text-transform: capitalize;
}

.header-two {
  background: var(--color-nav-two);
  width: 100%;
  transition: all 0.5s;
  z-index: 997;
  height: 114px;
  padding: 0 140px;
}

.header {
  background: var(--color-nav-three);
  color: var(--color-nav-three-content);
  transition: all 0.5s;
  z-index: 997;
  height: 39px;
}

.header-two .logo {
  padding: 0;
  margin-left: 0;
  background-color: var(--color-nav-two);
}

.header-two .icon-group {
  margin-left: 59px;
}

.header-two .icons {
  background-color: transparent;
  border: none;
}

@media (max-width: 1200px) {
  .header-two .btn-group {
    display: none;
  }

  .header-two .input-group {
    display: none;
  }
}

@media (max-width: 992px) {
  .header {
    height: 70px;
  }

  .header-two .container .logo {
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .header-two .btn-group {
    display: none;
  }

  .header-two .input-group {
    display: none;
  }
}

@media (max-width: 1200px) {

  .header {
    background-color: var(--color-nav-two);
  }

  .header .mobile-nav-show {
    color: var(--color-nav-one);
  }
  
  .header-two .container .logo {
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

}

@media (max-width: 575px) {
.header {
    height: 70px;
  }

  .header-two .container .logo {
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .header-two .btn-group {
    display: none;
  }

  .header-two .input-group {
    display: none;
  }
}

.header.sticked {
  border-color: #fff;
  border-color: #eee;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

section {
  scroll-margin-top: 90px;
}

.navbar {
  color: var(--color-nav-three-content);
}

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1200px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 600;
    color: var(--color-nav-three-content);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--color-primary);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--color-nav-three-content);
    background-color: var(--color-nav-three-focus);
    border: none;

  }

  .navbar .active,
  .navbar .has-menu:hover>a {
    background-color: var(--color-nav-three);

  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--color-nav-three);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--color-nav-three-content);
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (min-width: 1200px) {

  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1200px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    border-left: 1px solid #666;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: rgba(255, 255, 255, 0.9);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-secondary);
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 600;
    color: #7f7f90;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar li:hover>a {
    color: #000;
  }

  .navbar .active,
  .navbar .active:focus {
    color: #000;
    border-color: var(--color-primary);
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
    border: 1px solid #eee;
  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .mobile-nav-show {
    color: var(--color-white);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    margin: 0 10px 0 20px;
  }

  .mobile-nav-hide {
    color: var(--color-secondary);
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9996;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .about-img {
  min-height: 500px;
  width: 100vh;
}

.about h3 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 30px;
  font-family: var(--font-secondary);
}

.about .banner-header h4 {
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 30px;
  color: #450C10;

}

.about .banner-para p {
  font-family: var(--font-secondary);
  font-size: 16px;
  margin-bottom: 30px;
  color: #450C10;

}

.about .contact-us {
  left: 535px;
  right: 535px;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
  padding: 20px;
  text-align: center;
}

.about .call-us {
  left: 492px;
  right: 492px;
  top: 120px;
  bottom: 80px;
  background-color: #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
  padding: 20px;
  text-align: center;
}

@media (max-width: 1900px){
  

  .about .contact-banner-header {
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 18px;
    color: #450C10;
  
  }
  
  .about .contact-banner-para {
    font-family: var(--font-secondary);
    font-size: 12px;
    margin-bottom: 30px;
    color: #450C10;
  
  }
  
}
@media (max-width: 1600px){
  
.about .call-us {
  left: 292px;
  right: 292px;
}
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding: 0 0 8px 26px;
  position: relative;
}

.about .content ul i {
  position: absolute;
  font-size: 20px;
  left: 0;
  top: -3px;
  color: var(--color-primary);
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(var(--color-primary) 50%, rgba(206, 18, 18, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation: pulsate-btn 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(206, 18, 18, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  animation: none;
  border-radius: 0;
}

.about .play-btn:hover:after {
  border-left: 15px solid var(--color-primary);
  transform: scale(20);
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# About Us Section
--------------------------------------------------------------*/
.why-us .why-box {
  background: var(--color-white);
  color: #fff;
  margin-top:50px;
  margin-bottom:50px;
}

.why-us .why-box h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.why-us .why-box p {
  margin-bottom: 30px;
}

.why-us .why-box .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}

.why-us .why-box .more-btn i {
  font-size: 14px;
}

.why-us .why-box .more-btn:hover {
  color: var(--color-primary);
  background: #fff;
}

.why-us .icon-box {
  text-align: center;
  background: #fff;
  padding: 40px 30px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(55, 55, 63, 0.1);
  transition: 0.3s;
}

.why-us .icon-box i {
  color: var(--color-primary);
  margin-bottom: 30px;
  font-size: 32px;
  margin-bottom: 30px;
  background: rgba(206, 18, 18, 0.1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

.why-us .icon-box h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 30px 0;
  font-family: var(--font-secondary);
}

.why-us .icon-box p {
  font-size: 15px;
  color: #6c757d;
}

@media (min-width: 1200px) {
  .why-us .icon-box:hover {
    transform: scale(1.1);
  }
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-item {
  background: #f4f4f4;
  padding: 30px;
  height: 100%;
}

.contact .info-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 24px;
  line-height: 0;
  color: #fff;
  background: var(--color-primary);
  border-radius: 50%;
  margin-right: 15px;
}

.contact .info-item h3 {
  font-size: 20px;
  color: #6c757d;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.contact h2 {
  font-size: 40px;
  color: var(--color-heading);
  font-weight: 700;
  margin: 0 0 5px 0;
  text-align: center;
}
.contact p {
  font-size: 20px;
  color: var(--color-heading-secondary);
  margin: 0 0 5px 0;
}

.contact .info-item p {
  padding: 0;
  margin: 0;
  line-height: 24px;
  font-size: 14px;
}

.contact .php-email-form .form-group {
  padding-bottom: 20px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #df1529;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #059652;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #059652;
  border-top-color: #fff;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--color-primary);
}

.contact .php-email-form input {
  height: 48px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: transparent;
  border: 2px solid #C4212D;
  padding: 12px 40px;
  color: #C4212D;
  transition: 0.4s;
}

.contact .php-email-form button[type=submit]:hover {
  background: #C4212D;
  border: 2px solid var(--color-white);
  color: var(--color-white);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  background-size: cover;
  background-image: url("../assets/home/Deco-Heat-Banner-Placeholder.png"), linear-gradient(180deg, #EBEBEB 0%, #FDC459 17%, #85171E 100%);
  position: relative;
  min-height: 660px;
  padding: 160px 0 60px 0;
}

.hero .container {
  margin-top: -390px;
}

.hero h2 {
  font-size: 60px;
  font-weight: 700;
  margin-top: 120px;
  margin-bottom: 20px;
  color: var(--color-white);
  font-family: var(--font-primary);
  text-shadow: 1px 2px 1px #0000005C;
  opacity: 1;
}

.hero h2 span {
  color: var(--color-primary);
}

.hero p {
  color: var(--color-white-secondary);
  font-family: var(--font-secondary);
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 30px;
  text-shadow: 1px 2px 1px #0000005C;
  opacity: 1;

}

.hero .btn-book-a-table {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 36px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: var(--color-primary);
  box-shadow: 0 8px 28px rgba(206, 18, 18, 0.2);
}

.hero .btn-book-a-table:hover {
  background: rgba(206, 18, 18, 0.8);
  box-shadow: 0 8px 28px rgba(206, 18, 18, 0.45);
}

.hero .btn-watch-video {
  font-size: 16px;
  transition: 0.5s;
  margin-left: 25px;
  color: var(--font-secondary);
  font-weight: 600;
}

.hero .btn-watch-video i {
  color: var(--color-primary);
  font-size: 32px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 8px;
}

.hero .btn-watch-video:hover {
  color: var(--color-primary);
}

.hero .btn-watch-video:hover i {
  color: rgba(206, 18, 18, 0.8);
}

@media (max-width: 640px) {
  .hero h2 {
    font-size: 36px;
  }

  .hero .btn-get-started,
  .hero .btn-watch-video {
    font-size: 14px;
  }
}




/* Home Page Content */

.description {
  text-align: left;
  font: normal normal normal 17px/27px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  /* height: 784px; */
  /* line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.subtitle {
  text-align: left;
  font: normal normal normal 22px/27px Roboto;
  letter-spacing: 0px;
  color: #414141;
  margin-bottom: 20px;
}

/* rightside image section */
.rightsection {
  display: flex;
  height: auto;
  min-height: unset;
  width: 100%;
  max-width: 1920px;
  min-width: auto;
  padding: 49px 0px 50px 174px;
  @media screen and (max-width: 1200px) {
    padding: 49px 0px 50px 90px;
  }
}
.rightsection .flex-2 {
  flex: 50%;
  object-fit: cover;
}
.rightsection .flex-2 .image {
  height: 100%;
  width: 100%;
}
.rightsection .content {
  flex: 50%;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: auto;
  padding: 0px 105px 45px 0px;
  @media screen and (max-width: 1200px) {
    padding: 0px 50px 45px 0px;
  }
  h2 {
    color: var(---bf3604);
    text-align: left;
    font: normal normal bold 40px/46px Roboto;
    letter-spacing: 0px;
    color: #bf3604;
  }
}

/* leftside image section */
.leftsection {
  display: flex;
  max-width: 1920px;
  min-width: auto;
  min-height: unset;
  width: 100%;
  padding: 49px 174px 50px 0px;
  @media screen and (max-width: 1200px) {
    padding: 49px 90px 50px 0px;
  }
  @media screen and(max-width:1920px) {
    min-height: 648px;
  }
}
.leftsection .flex-1 {
  flex: 50%;
  object-fit: contain;
}
.leftsection .flex-1 .image {
  width: 100%;
  height: 100%;
}

.leftsection .content {
  flex: 50%;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0px 0px 0px 93px;
  @media screen and (max-width: 1200px) {
    padding: 0px 0px 0px 40px;
  }
}
.leftsection .content h2 {
  text-align: left;
  font: normal normal bold 40px/46px Roboto;
  letter-spacing: 0px;
  color: #450c10;
  opacity: 1;
}

.orangebutton {
  border: 2px solid var(---f2780c);
  border: 2px solid #f2780c;
  width: 263px;
  height: 59px;
  background-color: transparent;
  color: var(---f2780c);
  text-align: center;
  font: normal normal normal 16px/19px Roboto;
  letter-spacing: 0px;
  color: #f2780c;
}
.transparentbutton {
  border: 2px solid var(---f2780c);
  border: 2px solid #ffffff;
  width: 263px;
  height: 59px;
  color: #ffffff;
  background-color: transparent;
  color: var(--unnamed-color-ebebeb);
  text-align: center;
  font: normal normal normal 16px/19px Roboto;
  letter-spacing: 0px;
  color: #ebebeb;
}

.bannersection {
  background: url("../assets/home/firechair.png") no-repeat;
  width: 100%;
  max-width: 1920px;
  min-width: auto;
  max-height: 309px;
  height: auto;
  display: flex;
  background-size: cover;
}

.bannersection div {
  max-width: 1920px;
  min-width: auto;
  min-height: 309px;
  height: auto;
  background-color: rgb(0, 0, 0, 0.8);
  background-size: 100% auto;
  margin: auto;
}
.bannersection .bannercontent {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-direction: column;
  margin: auto;
}
.bannersection div h4 {
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal 800 35px/48px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  padding-bottom: 30px;
}

.bannersection2 {
  background: url("../assets/home/Poujoulat.png") no-repeat;
  width: 100%;
  max-width: 1920px;
  min-width: auto;
  max-height: 309px;
  height: auto;
  display: flex;
  background-size: cover;
}
.bannersection2 .bannercontent {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-direction: column;
  margin: auto;
  text-align: center;
  font: normal normal normal 22px/27px Roboto;
  letter-spacing: 0px;
  color: #414141;
}

.bannersection2 div {
  max-width: 1920px;
  min-width: auto;
  min-height: 309px;
  height: auto;
  background-color: rgb(255, 255, 255, 0.2);
  background-size: 100% auto;
  margin: 5px;
}
.bannersection2 div h3 {
  text-align: center;
  font: normal normal 800 35px/48px Open Sans;
  letter-spacing: 0px;
  color: #000000;
}
.bannersection2 div p {
  text-align: center;
  font: normal normal normal 22px/27px Roboto;
  letter-spacing: 0px;
  color: #414141;
  margin: 20px 0px 35px 0px;
}

.logosection {
  padding-top: 62px;
  max-width: 1920px;
  display: flex;
  flex-grow: initial;
  justify-content: center;
  align-items: flex-end;
}

.logosection div {
  text-align: center;
  justify-content: end;
  width: auto;
  align-items: end;

  padding: 0px 80px 0px 80px;
}

.logosection div img {
  height: auto;
  width: auto;
}


/* Product Silo Page  */
.productsilo {
  flex: auto;
  align-items: center;
  max-width: 1920px;
  justify-content: center;
  margin: auto;
  width: 100%;
  padding: 0px 14% 0px 14%;
  @media screen and (max-width:1440px) and (min-width:960px){
    padding: 0px 10% 0px 10%;
  }
}
.productsilo h1 {
  font: var(--unnamed-font-style-normal) normal 900 60px/72px
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-85171e);
  text-align: center;
  font: normal normal 900 60px/72px Roboto;
  letter-spacing: 0px;
  color: #85171e;
  padding: 75px 0px 50px 0px;
}

.productcard {
  display: flex;
  width: 100%;
  gap: 80px;
  padding: 68px 0px 68px 0px;
}

.productcard .proimg {
  flex: 50%;
  width: 100%;
}

.productcard .prodesc {
  flex: 50%;
  width: 100%;
}

.productcard .prodesc .desc {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-27) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal normal 16px/27px Roboto;
  letter-spacing: 0px;
  color: #000000;
  padding-top: 40px;
}
.productcard .prodesc .desc .orangebutton {
  width: 263px;
}

.productcard .proimg img {
  height: 100%;
  width: 100%;
}
.productcard .prodesc h2 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-40) / var(--unnamed-line-spacing-46)
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-450c10);
  text-align: left;
  font: normal normal bold 40px/46px Roboto;
  letter-spacing: 0px;
  color: #450c10;
  opacity: 1;
}

.productcard .prodesc h3 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-27)
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal bold 20px/27px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.productcard1 {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  gap: 80px;
  padding: 68px 0px 68px 0px;
}

.productcard1 .proimg {
  flex: 50%;
}

.productcard1 .prodesc {
  flex: 50%;
}

.productcard1 .prodesc .desc {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-27) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal normal 16px/27px Roboto;
  letter-spacing: 0px;
  color: #000000;
  padding-top: 40px;
}
.productcard1 .prodesc .desc .orangebutton {
  width: 263px;
}

.productcard1 .proimg img {
  height: 100%;
  width: 100%;
}
.productcard1 .prodesc h2 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-40) / var(--unnamed-line-spacing-46)
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-450c10);
  text-align: left;
  font: normal normal bold 40px/46px Roboto;
  letter-spacing: 0px;
  color: #450c10;
}

.productcard1 .prodesc h3 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-27)
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal bold 20px/27px Roboto;
  letter-spacing: 0px;
  color: #000000;
}

.formsection {
  width: auto;
  max-width: 1920px;
  text-align: center;
  margin: auto;
  background: var(--unnamed-color-ebebeb) 0% 0% no-repeat padding-box;
  background: #ebebeb 0% 0% no-repeat padding-box;
  padding-bottom: 49px;

}

.contactform {
  padding: 30px;
  width: auto;
  max-width: 1920px;
  display: grid;
  margin: auto;
  grid-template-columns: auto auto;
  gap: 30px;
  padding: 0px 100px 100px 100px;
}
.formsection .title h1 {
  width: auto;
  text-align: left;
  max-width: 699px;
  margin: auto;
  padding: 49px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-40) / var(--unnamed-line-spacing-46)
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-450c10);
  text-align: center;
  font: normal normal bold 40px/46px Roboto;
  letter-spacing: 0px;
  color: #450c10;
}
.contactform .formcontrol {
  width: auto;
}

.contactform .formcontrol1 {
  grid-column: 1 / span 2;
  grid-row: 3;
}
.contactform .formcontrol1 textarea {
  width: 100%;
  height: 266px;
  padding: 10px 40px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #8e8e8e;
  border-radius: 5px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-20) / 44px
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal normal 20px/44px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.76;
  resize: none;
}
.contactform .formsubmit {
  grid-column: 1 / span 2;
  grid-row: 4;
  text-align: center;
}

.contactform .formcontrol input,
.contactform .formcontrol1 input {
  width: 100%;
  padding: 10px 40px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #8e8e8e;
  border-radius: 5px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-20) / 44px
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal normal 20px/44px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.76;
}

.submitbutton {
  width: 263px;
  height: 59px;
  border: 2px solid var(--unnamed-color-c4212d);
  border: 2px solid #c4212d;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-20) /
    var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-c4212d);
  text-align: center;
  font: normal normal normal 20px/24px Roboto;
  letter-spacing: 0px;
  color: #c4212d;
}

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/

.modal.show  {
  display:flex!important;
  flex-direction:column;
  justify-content:center;
  align-content:center;
  align-items: flex-start;
}

.modal input, .modal textarea {
  background: #FFFFFF ;
border: 1px solid #85171E;
border-radius: 2px;
opacity: 1;
margin-bottom: 20px;
}

.modal button[type=submit] {
  font-family:var(--font-default);
  font-size: 19px;
letter-spacing: 0px;
color: #F2780C;
opacity: 1;
background-color: transparent;
border: 1px solid #F2780C;
padding: 16px 63px;
}

.modal-header {
  border: none;
  text-align: center;
  justify-content: center;
}

.modal button[type=button] {
  font-family:var(--font-default);
  font-size: 19px;
letter-spacing: 0px;
color: #F2780C;
opacity: 1;
background-color: transparent;
border: 1px solid #F2780C;
text-align: right;
}

.modal h5 {
font-family: var(--font-default);
font-size: 32px;
font-weight: bold;
letter-spacing: 0px;
color: #F2780C;
opacity: 1;
}

.modal p {
font-family: var(--font-default);
font-size: 20px;
font-weight: bold;
letter-spacing: 0px;
color: #BF3604;
border: none;
opacity: 1;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.table-container {
  padding: 0 140px;
  margin: 50px 0;
}

@media (max-width:700px) { 
.table-container {
  padding: 0 100px;
  margin: 50px 0;
}
}
@media (max-width:500px) { 
.table-container {
  padding: 0 50px;
  margin: 50px 0;
}
}


  .table .table-head {
  background-color: var(--color-table-head);
  color: var(--color-table-head-text);
  font-family: var(--font-primary);
  font-size: 20px;
}

.table .table-body {
  background-color: var(--color-table-body);
  color: var(--color-table-body-text);
  font-family: var(--font-primary);
  font-size: 20px;
  border: 1px solid var(--color-white);
}

.image-container .reservation-img {
  /* min-height: 500px; */
  background-size: cover;
  background-position: center;
}

@media (max-width:800) {
  
.image-container .reservation-img {
  /* min-height: 500px; */
  max-height: 50%;
}
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  font-size: 14px;
  background-color: #1f1f24;
  padding: 118px 0;
  color: rgba(255, 255, 255, 0.7);
}

.footer .icon {
  margin-right: 15px;
  font-size: 24px;
  line-height: 0;
}

.footer .logo {
  margin-top: 60px;
  justify-content: flex-end;
  margin-right: 110px;
}

.footer .logo img{
  max-width: 292px ;
  max-height: 80px;
}

.footer h3 {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  padding-bottom: 25px;
  color: var(--color-footer-head);
  text-align: left;
}

.footer h4 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  color: #fff;
  text-align: left;
}

.footer span {
  font-size: 16px;
  font-family: var(--font-secondary);
  position: relative;
  padding-bottom: 5px;
  color: var(--color-white);
  line-height: 23px;
  margin: 0;
}

.footer p {
  font-size: 16px;
  font-family: var(--font-secondary);
  position: relative;
  padding-bottom: 5px;
  color: var(--color-white);
  line-height: 23px;
  margin: 0;
  /* margin-bottom: 23px; */
}

.footer .address-lines {
  margin-bottom: 23px;
}

.footer .footer-icons {
  margin-right: 5px;
}

@media (max-width:990) {
  .footer {
    justify-content: center;
  }
}