/* Mobile Responsive Design */
@media screen and (max-width: 960px) and (min-width: 320px) {
  h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(---bf3604);
    text-align: left;
    font: normal normal bold 28px/35px Roboto;
    letter-spacing: 0px;
    color: #bf3604;
  }
  h3 {
    text-align: center;
    font: normal normal 600 25px/43px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  h4 {
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal 800 30px/43px Open Sans;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }

  .description {
    text-align: left;
    font: normal normal normal 14px/25px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    /* height: 784px; */
    /* line-height: 1;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; */
  }

  .subtitle {
    text-align: left;
    font: normal normal normal 18px/22px Roboto;
    letter-spacing: 0px;
    color: #414141;
    margin-bottom: 20px;
  }

  /* rightside image section */
  .rightsection {
    display: flex;
    height: auto;
    flex-wrap: wrap-reverse;
    min-height: unset;
    width: 100%;
    max-width: auto;
    min-width: auto;
    padding: 20px;
  }
  .rightsection .flex-2 {
    flex: 100%;
    object-fit: cover;
  }
  .rightsection .flex-2 .image {
    height: 100%;
    width: 100%;
  }
  .rightsection .content {
    flex: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: auto;
    padding: 0px;
  }
  .rightsection .content h2 {
    color: var(---bf3604);
    text-align: left;
    font: normal normal bold 30px/40px Roboto;
    letter-spacing: 0px;
    color: #bf3604;
  }

  /* leftside image section */
  .leftsection {
    display: flex;
    max-width: auto;
    flex-wrap: wrap;
    min-width: auto;
    min-height: unset;
    width: 100%;
    padding: 20px;
  }
  .leftsection .flex-1 {
    flex: 50%;
    object-fit: contain;
  }
  .leftsection .flex-1 .image {
    width: 100%;
    height: 100%;
  }

  .leftsection .content {
    flex: 50%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px;
  }
  .leftsection .content h2 {
    text-align: left;
    font: normal normal bold 28px/35px Roboto;
    letter-spacing: 0px;
    color: #450c10;
    opacity: 1;
  }

  .orangebutton {
    border: 2px solid var(---f2780c);
    border: 2px solid #f2780c;
    width: 263px;
    height: 59px;
    background-color: transparent;
    color: var(---f2780c);
    text-align: center;
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
    color: #f2780c;
  }
  .transparentbutton {
    border: 2px solid var(---f2780c);
    border: 2px solid #ffffff;
    width: 263px;
    height: 59px;
    color: #ffffff;
    background-color: transparent;
    color: var(--unnamed-color-ebebeb);
    text-align: center;
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
    color: #ebebeb;
  }

  .bannersection {
    background: url("../assests/home/firechair.png") no-repeat;
    width: 100%;
    max-width: auto;
    min-width: auto;
    max-height: 309px;
    height: auto;
    display: flex;
    background-size: cover;
  }

  .bannersection div {
    max-width: auto;
    min-width: auto;
    min-height: 309px;
    height: auto;
    background-color: rgb(0, 0, 0, 0.8);
    background-size: 100% auto;
    margin: auto;
  }
  .bannersection .bannercontent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex-direction: column;
    margin: auto;
  }
  .bannersection div h4 {
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal 600 28px/38px Open Sans;
    letter-spacing: 0px;
    color: #ffffff;
    padding-bottom: 30px;
  }

  .bannersection2 {
    background: url("../assests/home/Poujoulat.png") no-repeat;
    width: 100%;
    max-width: auto;
    min-width: auto;
    max-height: 309px;
    height: auto;
    display: flex;
    background-size: cover;
  }
  .bannersection2 .bannercontent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex-direction: column;
    margin: auto;
    text-align: center;
    font: normal normal normal 22px/27px Roboto;
    letter-spacing: 0px;
    color: #414141;
  }

  .bannersection2 div {
    max-width: auto;
    min-width: auto;
    min-height: 309px;
    height: auto;
    background-color: rgb(255, 255, 255, 0.2);
    background-size: 100% auto;
    margin: 5px;
  }
  .bannersection2 div h3 {
    text-align: center;
    font: normal normal 800 28px/35px Open Sans;
    letter-spacing: 0px;
    color: #000000;
  }
  .bannersection2 div p {
    text-align: center;
    font: normal normal normal 18px/22px Roboto;
    letter-spacing: 0px;
    color: #414141;
    margin: 20px 0px 35px 0px;
  }

  .logosection {
    padding: 30px 20px 0px 20px;
    max-width: 100%;
    display: flex;
    /* flex-grow: initial; */
    justify-content: center;
  }

  .logosection div {
    text-align: center;
    width: auto;
    align-items: end;
    padding: 0px 10px 0px 10px;
  }

  .logosection div img {
    height: auto;
    width: 100%;
  }

  .productsilo {
    flex: auto;
    align-items: center;
    max-width: unset;
    justify-content: center;
    margin: auto;
    width: auto;
    padding: 0px;
  }
  .productsilo h1 {
    font: var(--unnamed-font-style-normal) normal 900 60px/72px
      var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-85171e);
    text-align: center;
    font: normal normal 900 40px/60px Roboto;
    letter-spacing: 0px;
    color: #85171e;
    padding: 40px 0px 20px 0px;
  }

  .productcard {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    gap: 0px;
    padding: 20px;
  }

  .productcard .proimg {
    flex: 100%;
    width: 100%;
    height: 100%;
  }
  .productcard .proimg img {
    height: 100%;
    width: 100%;
  }

  .productcard .prodesc {
    flex: 100%;
    width: auto;
  }

  .productcard .prodesc .desc {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
      var(--unnamed-line-spacing-27) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 16px/27px Roboto;
    letter-spacing: 0px;
    color: #000000;
    padding-top: 30px;
  }
  .productcard .prodesc .desc .orangebutton {
    width: 263px;
  }

  .productcard .prodesc h2 {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) var(--unnamed-font-size-40) /
      var(--unnamed-line-spacing-46) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-450c10);
    text-align: left;
    font: normal normal bold 40px/46px Roboto;
    letter-spacing: 0px;
    color: #450c10;
    opacity: 1;
  }

  .productcard .prodesc h3 {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) var(--unnamed-font-size-20) /
      var(--unnamed-line-spacing-27) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal bold 20px/27px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  .productcard1 {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    gap: 0px;
    padding: 20px;
  }

  .productcard1 .proimg {
    flex: 100%;
    width: 100%;
    height: 100%;
  }
  .productcard1 .proimg img {
    height: 100%;
    width: 100%;
  }

  .productcard1 .prodesc {
    flex: 100%;
    width: auto;
  }

  .productcard1 .prodesc .desc {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
      var(--unnamed-line-spacing-27) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 16px/27px Roboto;
    letter-spacing: 0px;
    color: #000000;
    padding-top: 30px;
  }
  .productcard1 .prodesc .desc .orangebutton {
    width: 263px;
  }

  .productcard1 .prodesc h2 {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) var(--unnamed-font-size-40) /
      var(--unnamed-line-spacing-46) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-450c10);
    text-align: left;
    font: normal normal bold 40px/46px Roboto;
    letter-spacing: 0px;
    color: #450c10;
    opacity: 1;
  }

  .productcard1 .prodesc h3 {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) var(--unnamed-font-size-20) /
      var(--unnamed-line-spacing-27) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal bold 20px/27px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  .formsection {
    width: auto;
    max-width: 1920px;
    text-align: center;
    margin: auto;
    background: var(--unnamed-color-ebebeb) 0% 0% no-repeat padding-box;
    background: #ebebeb 0% 0% no-repeat padding-box;
  }
  
  .contactform {
    padding: 30px;
    width: auto;
    max-width:unset;
    display: grid;
    margin: auto;
    grid-template-columns: 100%;
    gap: 20px;
    padding:20px 20px 50px 20px;
  }
  .formsection .title h1 {
    width: auto;
    text-align: left;
    max-width: auto;
    margin: auto;
    padding: 20px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
      var(--unnamed-font-size-40) / var(--unnamed-line-spacing-46)
      var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-450c10);
    text-align: center;
    font: normal normal bold 30px/40px Roboto;
    letter-spacing: 0px;
    color: #450c10;
  }
  .contactform .formcontrol {
    width: 100%;
    grid-area: 100%;
    grid-column: 1;
    grid-template-columns: auto;
  }
  
  .contactform .formcontrol1 {
    grid-column:1;
    grid-row: 5;
  }
  .contactform .formsubmit {
    grid-column: 1 / span 2;
    grid-row: 6;
    text-align: center;
  }
  .contactform .formcontrol1 textarea {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) var(--unnamed-font-size-20) / 44px
      var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 20px/44px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.76;
    resize: unset;
  }
  
  .contactform .formcontrol input,
  .contactform .formcontrol1 input {
    width: 100%;
    padding: 10px 20px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    /* font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) var(--unnamed-font-size-20) / 44px
      var(--unnamed-font-family-roboto); */
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 20px/44px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.76;
  }
  
  .submitbutton {
    width: 263px;
    height: 59px;
    border: 2px solid var(--unnamed-color-c4212d);
    border: 2px solid #c4212d;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) var(--unnamed-font-size-20) /
      var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-c4212d);
    text-align: center;
    font: normal normal normal 20px/24px Roboto;
    letter-spacing: 0px;
    color: #c4212d;
  }
}


